:root {
	--fw-regular: 400;
	--fw-bold: 700;

	--bright-blue: hsl(220, 98%, 61%);
	--check-background: hsl(192, 100%, 67%), hsl(280, 87%, 65%);

	&:has([data-theme="light"]) {
		color-scheme: light;

		--bg-main: hsl(236, 33%, 92%);
		--bg-secondary: hsl(0, 0%, 98%);
		--heading-color: hsl(0, 0%, 98%);
		--text-color: hsl(235, 19%, 35%);
		--text-secondary-color: hsl(236, 9%, 61%);
		--completed-text-color: hsl(233, 11%, 84%);
		--border-color: hsl(236, 33%, 92%);
	}

	&:has([data-theme="dark"]) {
		color-scheme: light;

		--bg-main: hsl(235, 21%, 11%);
		--bg-secondary: hsl(235, 24%, 19%);
		--heading-color: hsl(236, 33%, 92%);
		--text-color: hsl(234, 39%, 85%);
		--text-secondary-color: hsl(234, 11%, 52%);
		--completed-text-color: hsl(234, 11%, 52%);
		--border-color: hsl(233, 14%, 35%);
	}
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	font-weight: var(--fw-regular);
	background-color: var(--bg-main);
}

.container {
	width: 550px;
	max-width: 88%;
	margin-inline: auto;
	margin-top: -152px;
	position: relative;
	z-index: 1;
}

@mixin elementWrapper($padding-left) {
	padding-left: $padding-left;
	padding-right: 16px;
	height: 48px;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--bg-secondary);

	@media (width > 376px) {
		height: 60px;
		padding-right: 24px;
	}
}

@mixin checkCircle {
	width: 22px;
	height: 22px;
	border: 1px solid var(--border-color);
	border-radius: 50%;

	@media (width > 376px) {
		width: 26px;
		height: 26px;
	}
}

.head {
	display: flex;
	flex-direction: column;
	gap: 28px;
	margin-bottom: 16px;

	.heading-theme-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		h1 {
			text-transform: uppercase;
			color: var(--heading-color);
			letter-spacing: 8px;
			font-size: 32px;
		}

		.theme-icon {
			width: 22px;
			height: 22px;
			cursor: pointer;
		}
	}

	.input-wrapper {
		position: relative;

		&::before {
			position: absolute;
			content: "";
			left: 16px;
			top: 26%;
			@include checkCircle;
		}

		input {
			@include elementWrapper(52px);
			border-radius: 6px;
			color: var(--text-color);
			caret-color: var(--bright-blue);

			&::placeholder {
				color: var(--text-secondary-color);
			}
		}
	}
}

.list {
	.todo-item {
		@include elementWrapper(16px);
		border-radius: 6px 6px 0 0;
		border-bottom: 1px solid var(--border-color);
		color: var(--text-color);

		&:first-child ~ .todo-item {
			border-radius: 0;
		}

		input[type="checkbox"] {
			appearance: none;
			@include checkCircle;
			margin-right: 12px;
			cursor: pointer;

			&:checked {
				background: no-repeat center url("../images/icon-check.svg"),
					linear-gradient(135deg, var(--check-background));
			}

			&:checked + label {
				color: var(--completed-text-color);
				position: relative;

				&::before {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					top: 50%;
					left: 0;
					background-color: var(--text-color);
				}
			}
		}

		label {
			cursor: pointer;
		}

		.cross-icon {
			width: 14px;
			height: 14px;
			margin-left: auto;
			cursor: pointer;
		}
	}

	.todo-actions {
		margin-bottom: 56px;
		color: var(--text-secondary-color);
		font-size: 16px;

		button.selected {
			color: var(--bright-blue);
		}
	}

	.todo-actions.mobile {
		.todo-info {
			@include elementWrapper(16px);
			justify-content: space-between;
			border-radius: 0 0 6px 6px;
			font-size: 14px;
			margin-bottom: 16px;
		}

		.todo-states {
			@include elementWrapper(16px);
			font-weight: var(--fw-bold);
			border-radius: 6px;
			justify-content: center;
			gap: 20px;
		}
	}

	.todo-actions.desktop {
		@include elementWrapper(16px);
		border-radius: 6px;
		display: none;
		justify-content: space-between;
		border-radius: 0 0 6px 6px;

		.todo-states {
			display: flex;
			gap: 20px;
			font-weight: var(--fw-bold);
		}
	}

	.drag-drop-text {
		text-align: center;
		font-weight: var(--fw-bold);
		color: var(--text-secondary-color);
		font-size: 14px;
	}
}

@media (width > 376px) {
	.container {
		margin-top: -220px;
	}

	.head {
		margin-bottom: 24px;
		gap: 36px;

		.heading-theme-wrapper {
			h1 {
				font-size: 48px;
			}

			.theme-icon {
				width: 28px;
				height: 28px;
			}
		}

		.input-wrapper {
			font-size: 22px;

			&::before {
				left: 24px;
			}

			input {
				@include elementWrapper(72px);
			}
		}
	}

	.list {
		.todo-item {
			font-size: 22px;
			@include elementWrapper(24px);

			input[type="checkbox"] {
				margin-right: 24px;
			}

			.cross-icon {
				width: 16px;
				height: 16px;
			}
		}

		.todo-actions.mobile {
			display: none;
		}

		.todo-actions.desktop {
			display: flex;
		}
	}
}
